<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
          font-family: arial;
          margin: 0;
        }
    
        nav {
          background: #ff5353;
          padding: 20px 10px;
        }
    
        nav ul {
          max-width: 960px;
          margin: 0 auto;
          padding: 0;
        }
    
        nav li {
          list-style-type: none;
          display: inline-block;
          margin: 0 10px 0 0;
        }
    
        nav a {
          color: #fff;
          font-size: 18px;
          background: rgba(255, 255, 255, 0.2);
          text-decoration: none;
          padding: 10px;
          display: block;
        }
    
        main,
        header {
          max-width: 960px;
          margin: 30px auto;
          padding: 0 10px;
          color: #333;
        }
    
        main img {
          width: 40px;
          margin-right: 10px;
          position: relative;
          top: 12px;
        }
    
        main p {
          display: inline-block;
        }
      </style>
    </head>
    
    <body>
      <nav>
        <ul>
            <% if (user) { %>
              <li><a href="/auth/logout">Log out</a></li>
              <% } else { %>
              <li><a href="/auth/login">Login</a></li>
              <% } %>
     
          <li><a href="/profile">Profile</a></li>
        </ul>
      </nav>
      <div class="container">
      <!-- <div class="row">
        <% for(let i = 0;i<courses.length;i++){%>
        <div class="col-md-4 col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= courses[i].name%></h5>
              <p class="card-text"><%= courses[i].description%></p>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
          <% } %>
        </div>
      </div> -->
      <div class="row" style="padding-top:10px;">
        <% for(let i = 0;i<courses.length;i++){%>        
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="/assets/images/vocational-training-56abb32548.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= courses[i].name%></h4>
              <p class="card-text"><%= courses[i].description%></p>
              <a href="<%= courses[i].site%>" class="btn btn-primary">Detail</a>
              <a href="/course/join?id=<%=courses[i]._id%>"><button class="btn btn-primary">Register</button></a>              
            </div>
          </div>
        </div>
        <% } %>

      </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>